
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Секція про гру */
#about {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

#about h2 {
    font-size: 2em;
}

/* Галерея */
#gallery {
    padding: 20px;
    background-color: #efefef;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.gallery img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Контакти */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer h2 {
    font-size: 1.5em;
}